.floating {
  animation: floating 1s infinite ease-in-out;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
