body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.projects {
  background: linear-gradient(
    90deg,
    white 15%,
    #f7f7f7 35%,
    white 50%,
    #f7f7f7 65%,
    white 85%
  );
  background-size: 100% 100%;
}

h2 {
  color: #333;
}
