.app {
  text-align: center;

  main {
    // padding: 2rem;

    section {
      // margin-bottom: 2rem;

      li {
        text-align: left;
        list-style: disc;
      }
    }
  }
}