body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#teams {
  background: linear-gradient(
    90deg,
    white 10%,
    #efefef 25%,
    white 40%,
    #efefef 60%,
    white 75%
  );
  background-size: 100% 100%;
}

h2 {
  color: #333;
}
